/* Reason we do this is to prevent default browser styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  text-align: center;

  background-image: url("./images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  width: 450px;
  height: 600px;

  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-container > p {
  margin: 15px;
  margin-bottom: 0px;
  color: hsl(224, 23%, 55%);
}

.subscribtion-container {
  border-radius: 15px;
  background-color: hsl(225, 100%, 98%);
  display: flex;
  width: 290px;
  height: 60px;
  padding: 20px;
}

.img-music-icon {
  width: 50px;
  padding: 5px;
}

.info-plan {
  text-align: left;
  margin: 15px;
  margin-top: -5px;
  padding: 10px;
}

.info-plan > p {
  color: hsl(224, 23%, 55%);
  margin-top: 5px;
}

.subscribtion-container > button {
  margin-left: auto;
  border: none;
  background-color: inherit;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
}

.payment-btn {
  border-radius: 10px;
  overflow: hidden;
}

.payment-btn > button {
  color: white;
  background-color: hsl(245, 75%, 52%);
  width: 300px;
  height: 40px;
  border: none;
  /* Add a shadow */
}

.cancel-btn {
  margin-bottom: 35px;
}

.cancel-btn > button {
  background-color: inherit;
  border: none;
  color: hsl(224, 23%, 55%);
}
