* {
    margin: 0;
    padding: 0;
    
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    width: 350px;
    height: 596px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 302px;
    height: 302px;

    border-radius: 15px;
    overflow: hidden;

    margin-top: 24px;
}

.display-img {
    /* Fit to parent div */
    max-width: 100%;
    display: block;
    height: auto;
}



.overlay{
    width: 302px;
    height: 302px;
    background-color: hsl(178, 100%, 50%, 0.503);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 302px;
}

.overlay:hover {
    opacity: 1;
}

.icon-view { 
    position: relative;
}

.title {
    color: hsl(0, 0%, 100%);
    width: 302px;

    margin-top: 24px;
}

.title:hover {
    color: hsl(178, 100%, 50%);
}

.txt-p {
    color: hsl(215, 51%, 70%);
    width: 302px;

    margin-top: 16px;
}

.info-line {
    width: 302px;
    display: flex;
    justify-content: space-between;

    margin-top: 24px;
}

.currency {
    /* width: 93px; */
    display: flex;
    color: hsl(178, 100%, 50%);
}

.currency > img {
    margin-right: 5px;
}

.time-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

.time-info > img {
    margin-right: 5px;
}

hr {
    margin-top: 24px;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    border-style: none;
    width: 302px;
}

.profile {
    margin-top: 16px;
    /* width: 230px; */
    color: hsl(215, 51%, 70%);
    align-self: flex-start;
    margin-left: 24px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile > img {
    width: 33px;
    height: 33px;
    margin-right: 16px;
    border: 1px solid white;
    border-radius: 100px;
}

#Jules-Wyvern {
    color: hsl(0, 0%, 100%);;
}

#Jules-Wyvern:hover {
    color: hsl(178, 100%, 50%);;
}

/* Mobile Section */

@media only screen and (max-width: 375px) {
    .card-container {
        width: 327px;
        height: 543px;
        background-color: hsl(216, 50%, 16%);
        border-radius: 15px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .display {
        width: 278px;
        height: 278px;
    
        border-radius: 8px;
        overflow: hidden;
    
        margin-top: 24px;
    }
    
    .overlay{
        width: 278px;
        height: 278px;
        background-color: hsl(178, 100%, 50%, 0.503);
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 278px;
    }
    
    
    .title {
        color: hsl(0, 0%, 100%);
        width: 278px;
    
        margin-top: 24px;
    }
    
    .txt-p {
        color: hsl(215, 51%, 70%);
        width: 278px;
    
        margin-top: 16px;
    }
    
    .info-line {
        width: 278px;
        display: flex;
        justify-content: space-between;
    
        margin-top: 24px;
    }

    hr {
        margin-top: 24px;
        height: 1px;
        background-color: hsl(215, 32%, 27%);
        border-style: none;
        width: 278px;
    }
    
    .profile {
        margin-top: 16px;
        color: hsl(215, 51%, 70%);
        align-self: flex-start;
        margin-left: 24px;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .profile > img {
        width: 33px;
        height: 33px;
        margin-right: 16px;
        border: 1px solid white;
        border-radius: 100px;
    }
}