body {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */

  background-color: hsl(217, 54%, 11%);
  font-family: "spicmen", sans-serif;
}

.card-container {
  /* Will dispaly flex and align items because items are not centered */
  flex-direction: column;
  align-items: center;
  display: flex;

  width: 350px;
  height: 600px;
  background-color: hsl(216, 50%, 16%);

  border-radius: 12px;

  color: hsl(0, 0%, 100%);
}

.img-container {
  width: 300px;
  height: 320px;
  margin: 20px;
  overflow: hidden;
}

.nft-img {
  width: 300px;
  height: 320px;
  border-radius: 4px;
}

.nft-info {
  margin: -15px 20px;
  padding: 0px 5px;
}

.p-info {
  color: hsl(215, 51%, 70%);
}

.resources {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.curr-container {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: auto;
}

.time-info {
  display: flex;
  align-items: center;
}

hr {
  margin-top: 35px;
  width: 310px;
  border-color: hsl(215, 32%, 27%);
}

#currPrice,
#currTime {
  padding: 5px;
}

#currTime {
  color: hsl(215, 51%, 70%);
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profileImg {
  width: 50px;
  margin-right: 50px;
  border: 1px solid white;
  border-radius: 100px;
}
